<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <p class="pull-right">
        <a href="#" ng-click="vm.addRegistrant()" class="btn btn-info"> <i class="fa fa-plus-square"></i>
 Add User</a>
    </p>
    <div class="table-responsive">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Profile Pic</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Mobile Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat ="item in vm.registrantsList">
                    <td scope="row">{{item.registrant_id}}</td>
                    <td></td>
                    <td>{{item.fname}}</td>
                    <td>{{item.lname}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.mobile}}</td>
                    <td>
                        <a class="btn btn-small btn-primary">edit</a>
                        <a ng-click="vm.deleteRegistrant(item.registrant_id)"  class="btn btn-small btn-danger">delete</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>